# Extracted text of a third-party operator's manual (SensorMedics 3100A).
# Kept locally for reference only — not ours to redistribute, and re-fetchable.
# The findings drawn from it live in CLAUDE.md.
reference/

.DS_Store
